body{
    margin:0;
    padding: 20px; 
}

.header{
    width: 100%;
    border: 10px solid black;
    padding: 10px;
    box-sizing: border-box;
}

.left-rectangle{
    width: 50px;
    height: 100px;
    background-color: blueviolet;
    display: inline-block
}

.middle-rectangle{
    width: 400px;
    height: 200px;
    margin: 0 25px;
    display: inline-block;
    background-color: forestgreen;
}
.circle1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: skyblue ;
    display: inline-block;
}

.main-body{
    width: 100%;
    border: 10px dotted black;
    padding: 50px;
    box-sizing: border-box;
    margin-top: 20px;

}

.big-rectangle{
    width: 100%;
    height: 150px;
    background-color: #fffacd;
    box-shadow: 10px 10px 5px 0px black;

}

.footer{
    width:50% ;
    border: 1px solid #dddddd;
    margin: 20px auto;
    padding: 100px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 5px 5px 10px 0px black;

}

.footer h1{
    width: 100%;
    text-align: center;
    color: darkblue;
    letter-spacing: 15px;
}